/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/05/2017, 20:14:13
    Author     : vinicius.fbatista1
*/


.login-block {
    width: 100%;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid #ff656c;
    margin: 0 auto;
}

.login-block h1 {
    text-align: center;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 15px;
}

.login-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Montserrat;
    padding: 0 20px 0 50px;
    outline: none;
}

.login-block input#usuario {
    background: #fff url('../imagens/username-icon.png') 20px top no-repeat;
    background-size: 16px 80px;
    font-size: 15px;
}

.login-block input#usuario:focus {
    background: #fff url('../imagens/username-icon.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input#senha {
    background: #fff url('../imagens/password-icon.png') 20px top no-repeat;
    background-size: 16px 80px;
    font-size: 15px;
}

.login-block input#senha:focus {
    background: #fff url('../imagens/password-icon.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input:active, .login-block input:focus {
    border: 1px solid #ff656c;
}

#btnEntrar {
    width: 50%;
    height: 40px;
    background: #ff656c;
    box-sizing: border-box;
    border-radius: 15px;
    border: 1px solid #e15960;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
    margin-bottom: 20px;
}

.login-block button:hover {
    background: #ff7b81;
}
.input-group {
    width: 250px;
}
#btnCadastro {
    width: 100%;
    height: 50px;
    background: #ff656c;
    box-sizing: border-box;
    border-radius: 15px;
    border: 1px solid #e15960;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
    margin-bottom: 20px;
}

.radio label {
    padding-left: 25px;
}